[submodule "src/base16-builder"]
	path = src/base16-builder
	url = git@github.com:chriskempson/base16-builder
[submodule "src/cucumber-tmbundle"]
	path = src/cucumber-tmbundle
	url = git@github.com:cucumber/cucumber-tmbundle
[submodule "src/Handlebars"]
	path = src/Handlebars
	url = git@github.com:daaain/Handlebars
[submodule "src/ApplySyntax"]
	path = src/ApplySyntax
	url = git@github.com:facelessuser/ApplySyntax
[submodule "src/BracketHighlighter"]
	path = src/BracketHighlighter
	url = git@github.com:facelessuser/BracketHighlighter
[submodule "src/SublimeVintageNumbers"]
	path = src/SublimeVintageNumbers
	url = git@github.com:ignacysokolowski/SublimeVintageNumbers
[submodule "src/coffee-script-tmbundle"]
	path = src/coffee-script-tmbundle
	url = git@github.com:jashkenas/coffee-script-tmbundle
[submodule "src/sublime-surround"]
	path = src/sublime-surround
	url = git@github.com:jcartledge/sublime-surround
	branch = st3
[submodule "src/vintage-sublime-surround"]
	path = src/vintage-sublime-surround
	url = git@github.com:jcartledge/vintage-sublime-surround
[submodule "src/GitGutter"]
	path = src/GitGutter
	url = git@github.com:jisaacks/GitGutter
[submodule "src/sublime-text-git"]
	path = src/sublime-text-git
	url = git@github.com:kemayo/sublime-text-git
	branch = python3
[submodule "src/spacegray"]
	path = src/spacegray
	url = git@github.com:kkga/spacegray
[submodule "src/TOML"]
	path = src/TOML
	url = git@github.com:lmno/TOML
[submodule "src/SCSS.tmbundle"]
	path = src/SCSS.tmbundle
	url = git@github.com:MarioRicalde/SCSS.tmbundle
	branch = SublimeText2
[submodule "src/sass-textmate-bundle"]
	path = src/sass-textmate-bundle
	url = git@github.com:nathos/sass-textmate-bundle
	branch = sublime
[submodule "src/Swift-Sublime-Package"]
	path = src/Swift-Sublime-Package
	url = git@github.com:quiqueg/Swift-Sublime-Package
[submodule "src/sublimetext-markdown-preview"]
	path = src/sublimetext-markdown-preview
	url = git@github.com:revolunet/sublimetext-markdown-preview
[submodule "src/rspec.tmbundle"]
	path = src/rspec.tmbundle
	url = git@github.com:rspec/rspec.tmbundle
[submodule "src/vim-pathogen"]
	path = src/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "src/vim-git"]
	path = src/vim-git
	url = git@github.com:tpope/vim-git
[submodule "src/babel-sublime"]
	path = src/babel-sublime
	url = git@github.com:babel/babel-sublime
[submodule "src/elixir-tmbundle"]
	path = src/elixir-tmbundle
	url = git@github.com:elixir-lang/elixir-tmbundle
[submodule "src/toothpaste"]
	path = src/toothpaste
	url = git@github.com:imcatnoone/toothpaste
[submodule "src/TypeScript-Sublime-Plugin"]
	path = src/TypeScript-Sublime-Plugin
	url = git@github.com:Microsoft/TypeScript-Sublime-Plugin
